[submodule "external/nrf-hal"]
	path = external/nrf-hal
	url = https://github.com/fobnail/nrf-hal
[submodule "external/trussed"]
	path = external/trussed
	url = https://github.com/fobnail/trussed
[submodule "external/formats"]
	path = external/formats
	url = https://github.com/RustCrypto/formats
[submodule "external/embassy"]
	path = external/embassy
	url = https://github.com/embassy-rs/embassy
[submodule "external/coap-server-rs"]
	path = external/coap-server-rs
	url = https://github.com/jasta/coap-server-rs
[submodule "external/coap-lite"]
	path = external/coap-lite
	url = https://github.com/martindisch/coap-lite
[submodule "external/lru_time_cache"]
	path = external/lru_time_cache
	url = https://github.com/maidsafe/lru_time_cache
