[submodule "external/nrf-hal"]
	path = external/nrf-hal
	url = https://github.com/fobnail/nrf-hal
[submodule "external/trussed"]
	path = external/trussed
	url = https://github.com/fobnail/trussed
[submodule "external/formats"]
	path = external/formats
	url = https://github.com/RustCrypto/formats
[submodule "external/embassy"]
	path = external/embassy
	url = https://github.com/embassy-rs/embassy
